
a:hover
{
    border-radius: 2px;
    background:rgb(104, 103, 103);
    color: black;
}

.alivia
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color: white;
    margin-left: 3%;
    font-size: 2.5vw;
}
@media all and (max-width:572px)
{
    .alivia
    {
        font-size: 30px;
    }
}
